@import url("style/header.css");
body {
    background-color: rgb(231, 17, 142);
}
.container img{
    max-width:100px;
    max-height: 80px;
    width:auto;
    height: auto;
    width: 40%;
    width: 40%;
}

h1 {
    color:rgb(16, 233, 222);
}

h2 {

    color:rgb(17, 52, 207);
    
}
footer{
    background-color:#27b022;
    color:rgb(226, 76, 12);
}
